rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Games collection - read-only for all users (written by backend)
    match /games/{gameId} {
      allow read: if true;
      allow write: if false;
    }

    // User profiles and nested feedback
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;

      match /feedback/{gameId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }

    // Deny all other access
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
